* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
}
.main {
  max-width: 1200px;
  margin: 25px auto;
}
.notes__header {
  width: 100%;
  background: #999999;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
.header-list {
  max-width: 950px;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list__item {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 400;
  color: white;
}
.header-icons {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-archive,
.header-delete {
  cursor: pointer;
}
.notes__block {
  margin-bottom: 100px;
}
.notes__list {
  list-style-type: none;
  margin-top: 15px;
}
.note {
  background: #e8eaf5;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note__wrapper {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.note__field {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  font-size: 18px;
}
.note__btns {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  display: none;
}
.note__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 6rem;
  border-radius: 4px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.statistics-header {
  width: 100%;
  background: #999999;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.statistics-header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statisctics-header__item {
  font-size: 21px;
  font-weight: 400;
  color: white;
}
.statistics-header__counters {
  display: flex;
  max-width: 240px;
  width: 100%;
  justify-content: space-between;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
